$avatar-size: 48px;
:host /deep/ {
  .user-cards {
    width: 100%;
    .user-cards-pagination {
      background-color: rgba(255, 255, 255, 0);
    }
    .user-cards-container {
      position: relative;
      .user-card {
        width: 350px;
        padding: 0;
        cursor: pointer;
        outline: none;
        //box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
        margin: 15px 0 0 15px;
        &.user-disabled,
        &.user-disabled .mat-card-header .header-image,
        &.user-disabled .mat-card-subtitle,
        &.user-disabled .mat-card-content p,
        &.user-disabled .mat-card-content .mat-list .mat-subheader,
        &.user-disabled .mat-card-content .mat-list .mat-list-item .mat-list-item-content,
        &.user-disabled .mat-card-content .mat-list .mat-list-item .mat-list-item-content .mat-list-text,
        &.user-disabled .mat-card-content .mat-list .mat-list-item .mat-list-item-content .mat-icon {
          color: rgba(0, 0, 0, .3);
        }
        .mat-card-header {
          padding: 7px 0 7px 0;
          border-bottom: 1px solid #d9ccc1;
          .header-image {
            font-size: $avatar-size;
            height: $avatar-size;
            width: $avatar-size;
            color: #384773;
            margin-left: 8px;
          }
          .mat-card-title {
            font-weight: 600;
            letter-spacing: .7px;
            margin: 6px 0;
          }
          .mat-card-subtitle {
            margin-top: -4px;
            margin-bottom: 6px;
          }
          .mat-slide-toggle {
            margin-top: 14px;
          }
        }
        .mat-card-content {
          padding: 5px 15px 5px 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: rgba(89, 89, 77, 0.87);
          white-space: nowrap;
          font-size: 12px;
          .mat-list {
            padding-top: 0;
            .mat-subheader {
              height: 32px;
              padding: 8px 0;
              margin-top: 0;
            }
            .mat-list-item {
              .mat-list-item-content {
                height: 48px;
                padding-left: 0;
                .mat-icon {
                  color: rgba(0, 0, 0, .54);
                }
              }
            }
          }
          p {
            color: rgba(0, 0, 0, .54);
          }
        }
        &:hover {
          background-color: #dbe0e9;
        }
      }
    }
  }
}

