<div class="user-cards" fxLayout="column" fxLayoutAlign="none">
  <md-paginator class="user-cards-pagination" [length]="total"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getMore($event)" *ngIf="userList">
  </md-paginator>

  <div class="user-cards-container"
       fxLayout="row" fxLayout.xs="column"
       fxLayoutAlign="center start" fxLayoutWrap>
    <div class="progress-backdrop" *ngIf="isLoading">
      <md-progress-spinner mode="indeterminate" class="progress-spinner"></md-progress-spinner>
    </div>
    <md-card class="user-card" [ngClass]="user.enabled ? '': 'user-disabled'" *ngFor="let user of userList" [routerLink]="'./' + user.user_id + '/edit'">
      <md-card-header fxLayout="row" fxLayoutAlign="center start">
        <md-icon md-card-avatar class="header-image">person</md-icon>
        <md-card-title>
          {{user.user_name}}
        </md-card-title>
        <md-card-subtitle>{{user.email}}</md-card-subtitle>
        <div fxFlex></div>
        <md-slide-toggle [(ngModel)]="user.enabled" color="primary"
                         [mdTooltip]="user.enabled ? 'User enabled': 'User disabled'" [mdTooltipPosition]="'after'"
                         appNonClickable (change)="toggleUser($event, user)"></md-slide-toggle>
        <button md-icon-button appNonClickable [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" xPosition="before">
          <button md-menu-item (click)="recharge(user.user_id)">
            <md-icon>account_balance_wallet</md-icon>
            <span>Update balance</span>
          </button>
          <button md-menu-item (click)="transactions(user.user_id)">
            <md-icon>assignment</md-icon>
            <span>Transactions</span>
          </button>
        </md-menu>
      </md-card-header>
      <md-card-content>
        <md-list>
          <h3 md-subheader>Secondary information</h3>
          <md-list-item>
            <md-icon md-list-icon>label_outline</md-icon>
            <h4 md-line>{{user.user_custom}}</h4>
            <p md-line>Custom</p>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>label_outline</md-icon>
            <h4 md-line>{{user.register_date|date}}</h4>
            <p md-line>Registration</p>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>label_outline</md-icon>
            <h4 md-line>{{user.balance}}</h4>
            <p md-line>Balance</p>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-icon>label_outline</md-icon>
            <h4 md-line>{{user.wallet_amount}} {{user.wallet_currency}}</h4>
            <p md-line>Wallet</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <md-paginator class="user-cards-pagination" [length]="total"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getMore($event)" *ngIf="userList">
  </md-paginator>
</div>