.top{
  background-color: #384773;
  color: #fff;
  .title {
    margin-left: 10px;
  }
}
.mat-sidenav-container {
  height: calc(100vh - 64px);;
  overflow: hidden;
  .mat-sidenav {
    min-width: 375px;
  }
}
.create-user {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
